.cover1{ width: 100%;
	  height: 800px;
     background:url(WB5ga4.gif);
     background-size: cover;
     background-attachment: fixed;

}
.cover2{ width: 100%;
	  height: 800px;
     background:url(tenor.gif);
     background-size: cover;
     background-attachment: fixed;

}
.cover3{ width: 100%;
	  height: 800px;
     background:url(PlushEachBluemorphobutterfly-small.gif);
     background-size: cover;
     background-attachment: fixed;

}
.faixa{width:100%; height: 300PX; background: blue;}
.cover4{ width: 100%;
       height: 800px;
     background:url(shiryu_a1sk.gif);
     background-size: cover;
     background-attachment: fixed;
}
.cover5{ width: 100%;
       height: 800px;
     background:url(tumblr_m288odkoPl1r1n5pqo1_500.gif);
     background-size: cover;
     background-attachment: fixed;
}
.cover6{ width: 100%;
       height: 800px;
     background:url(8d52fadfa456df537b8d04ba0bca05115577360f_hq.gif);
     background-size: cover;
     background-attachment: fixed;
}
.cover7{ width: 100%;
       height: 800px;
     background:url(ShiryuvsSeiya.gif);
     background-size: cover;
     background-attachment: fixed;
}
.cover8{ width: 100%;
       height: 800px;
     background:url(tumblr_o0ydgiYqgQ1rfbdu4o1_500.gif);
     background-size: cover;
     background-attachment: fixed;
}
.cover9{ width: 100%;
       height: 800px;
     background:url(giphy.gif);
     background-size: cover;
     background-attachment: fixed;
}